# Version 1.23

[user]
	name = Sean LAIDLAW
	email = seanlaidlaw95@gmail.com

[alias]
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	differents = diff
	ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
	ld = log --pretty=format:"%C(yellow)%h\\ %C(red)[%ad]%Cred%d\\ %Creset%s%C(yellow)\\ [%cn]\\ %C(blue)[%G?]%Creset" --decorate --date=relative
	ldd = log --name-only --graph --decorate --date=relative --pretty=format:"%C(yellow)%h\\ %C(red)[%ad]%Cred%d\\ %Creset%s%C(yellow)\\ [%cn]"
	uh = reset --hard HEAD^
	aa = add --all
	ci = commit -a -v
	st = status --short --branch
	ls = ls-tree -r master --name-only
	add = add -v
	wdiff = diff --word-diff=color
	signto = rebase --exec 'git commit --amend --no-edit -n -S' -i
	originate = log --branches --tags -p --reverse --source -S
	cpr = cherry-pick --strategy=recursive -X theirs
	reorder = "!GIT_SEQUENCE_EDITOR=\"sed -i -n 'h;1n;2p;g;p'\" git rebase -i HEAD~2"
[core]
	attributesFile = ~/.gitattributes
	ignorecase = true
	[diff "zip"]
	textconv = unzip -p
	binary = true
	[diff "gz"]
	textconv = gzcat
	binary = true
	[diff "bz2"]
	textconv = bzcat
	binary = true
	[diff "xz"]
	textconv = xzcat
	binary = true
	[diff "tar"]
	textconv = tar -O -xf
	binary = true
	[diff "tar-bz2"]
	textconv = tar -O -xjf
	binary = true
	[diff "tar-gz"]
	textconv = tar -O -xzf
	binary = true
	[diff "tar-xz"]
	textconv = tar -O -xJf
	binary = true
	[diff "odf"]
	textconv = odt2txt
	[diff "pdf"]
	textconv = pdfinfo
	[diff "bin"]
	textconv = hexdump -v -C
	editor = nvim

	quotepath = false
	[core]
	pager = diff-so-fancy | less --tabs=1,5 -R
	excludesfile = ~/.gitignore_global
	[color "diff"]
	  meta = "yellow bold"
	  commit = "green bold"
	  frag = "magenta bold"
	  old = "red bold"
	  new = "green bold"
	  whitespace = "red reverse"
	[color "diff-highlight"]
	  oldNormal = "red bold"
	  oldHighlight = "red bold 52"
	  newNormal = "green bold"
	  newHighlight = "green bold 22"
[commit]
	gpgSign = false
